RewriteEngine On
RewriteBase /siadu/sisfohrd
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^.*$ - [S=84]
RewriteRule ^(links|download|contact|themes|guestbook|gallery|statistik|quran|lyrics|glossary|whois|sms|youtube|iklanbaris|templates|faq|photo|404|news).html$ ./index.php?pilih=$1&mod=yes [QSA,L]
RewriteRule ^pages-(.*).html$ ./index.php?pilih=hal&judul=$1 [QSA,L]
RewriteRule ^cetak-([0-9]{1,})-(.*).html$ ./cetak.php?id=$1&judul=$2 [QSA,L]
RewriteRule ^recommend-([0-9]{1,})-(.*).html$ ./index.php?pilih=news&mod=yes&aksi=recommend&id=$1&judul=$2 [QSA,L]
RewriteRule ^register.html$ ./index.php?pilih=user&aksi=register [QSA,L]
RewriteRule ^forgotpassword.html$ ./index.php?pilih=user&aksi=forgotpass [QSA,L]
RewriteRule ^poling-result.html$ ./index.php?pilih=polling&mod=yes&act=polling_result [QSA,L]
RewriteRule ^download-([0-9]{1,})-(.*).html$ ./dl_jump.php?id=$1&judul=$2 [QSA,L]
RewriteRule ^url-([0-9]{1,})-(.*).html$ ./links_jump.php?id=$1&judul=$2 [QSA,L]
RewriteRule ^sitemap.html$ ./sitemap.php [QSA,L]
RewriteRule ^category-(.*).html$ ./index.php?pilih=news&mod=yes&aksi=arsip&judul=$1 [QSA,L]
RewriteRule ^categories-([0-9]{1,})-(.*)-([0-9]{1,})-([0-9]{1,})-([0-9]{1,}).html$ ./index.php?pilih=news&mod=yes&aksi=arsip&topik=$1&judul=$2&pg=$3&stg=$4&offset=$5 [QSA,L]
RewriteRule ^article-(.*).html$ ./index.php?pilih=news&mod=yes&aksi=lihat&judul=$1 [QSA,L]
RewriteRule ^tags-(.*).html$ ./index.php?pilih=news&mod=yes&aksi=tags&judul=$1 [QSA,L]
RewriteRule ^blogs.html$ ./index.php?pilih=news&mod=yes&aksi=blogs [QSA,L]
RewriteRule ^album-([0-9]{1,})-(.*).html$   ./index.php?pilih=photo&mod=yes&aksi=photo&kid=$1 [QSA,L]
RewriteRule ^photo-([0-9]{1,})-([0-9]{1,})-(.*).html$ ./index.php?pilih=photo&mod=yes&aksi=detail&id=$1&kid=$2 [QSA,L]
ErrorDocument 404 ./404.html