/********************************************
   HTML ELEMENTS
********************************************/ 

/* top elements */
* { padding: 0; margin: 0; }

body {
	margin			: 0;
	padding			: 0;
	font			: .70em/1.5em  Verdana, Tahoma, Helvetica, sans-serif;
	color			: #333333; 
	background: #FFFFFF no-repeat fixed center;
	text-align: center;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
width:100%
}

/* header */
#header {
	clear: both;
}
#wrap {
	background		: white;
	width			: 99%;
	margin			: 0px auto 0px auto;	
	text-align		: left;
-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
/* main */
#main {
float			: right;
width:99%;
height:100%;
padding-bottom : 50px;
	display			: inline;	
	
}
#footer {

	clear: both;
	background: black;
	width: 100%;
	margin: 100px auto 0px auto;
	text-align: right;
  color:white;
position: fixed; 
    bottom:0%;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.border2 {
	padding			: 7px; 

	margin			: 5px 0px 5px 0px;
	font-weight:bold;
}

.border2 a:hover {
	color			: orange;
	font-weight:bold;
	text-decoration:none;
}