#calendar {
	width: 100%;
	padding: 0;
	margin: 0;
	border-left: 1px solid #A2ADBC;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #616B76;
	text-align: center;
	background-color: #fff;
}

#calendar .nav, .nav a {
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #fff;	
	text-align: center;
	text-decoration: none;
	
}	


#calendar tr.caption th {
	background: #A2ADBC;
	color: #fff;	 
	text-align: center;
	font-size:11px;
	font-weight:bold;
	border:0px;
	font-family:verdana;
}

#calendar th {
	font: bold 10px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #616B76;
	background: #D9E2E1;
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	border-top: 1px solid #A2ADBC;
}

#calendar .today, td.today a, td.today a:link, td.today a:visited {
	color: #F6F4DA;
	font-weight: bold;
	background: #DF9496;
}

#calendar td {
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	width: 20px;
	height: 20px;
	text-align: center;
	/*background: url(bg_calendar.gif) no-repeat right bottom;*/
}

#calendar td a {
	text-decoration: none;
	display: block;
}

#calendar td a:link{	
	color: #608194;
}
